/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor del formulario */
.login-container {
    background-color: #1e1e1e;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 400px;
}

/* Logo */
.logo img {
    width: 50px;
    margin-bottom: 20px;
}

/* Títulos */
h2 {
    color: #f1f1f1;
    margin-bottom: 10px;
    font-size: 22px;
}

p {
    color: #a0a0a0;
    font-size: 14px;
    margin-bottom: 20px;
}

/* Campos de entrada */
.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #2a2a2a;
    color: #f1f1f1;
    font-size: 14px;
}

.input-field::placeholder {
    color: #888;
}

/* Botón de login */
.login-btn {
    width: 100%;
    background-color: #0078ff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-btn:hover {
    background-color: #0056cc;
    transform: scale(1.02);
}

/* Mensajes de error */
.error-message {
    color: #f44336;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: left;
    padding: 5px;
    background-color: #2a2a2a;
    border-radius: 5px;
}
.cnt-link{
    display: flex;
    justify-content: start;
    margin-top: 10px;

}

.link-register{
    justify-content: start;
    color: #0763cc;
}

/* Ajustes de diseño responsivo */
@media (max-width: 480px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    .input-field {
        font-size: 12px;
    }

    .login-btn {
        font-size: 14px;
    }
}

